*
.pyc
!.gitignore
!.github
!.github/*
!.github/workflows
!.github/workflows/*
!custom_components/national_grid
!custom_components/national_grid/*
!custom_components/national_grid/translations
!custom_components/national_grid/translations/*
!custom_components/national_grid/coordinators
!custom_components/national_grid/coordinators/*
!custom_components/
!docs
!docs/*
!docs/assets
!docs/assets/*
!README.md
!hacs.json